.footer-bottom {
  background-color: $bg-color-5;
  color: $bg-color-1;
  line-height: 50px;
  .text-center a {
    padding: 0px 10px;
  }
  a {
    text-decoration: underline;
    color: $color-4;
    &:hover, &:focus {
      color: $bg-color-1;
    }
  }
}
.wslogo {
  padding-left: 10px;
}
.footer-main {
  background-color: $bg-color-1;
  border-top: 1px solid $color-3;
  padding: 60px 0;
  .menu{
  list-style: none;
  padding-left: 0px;
  li {
    padding: 4px 0;
    &:nth-child(1) a {
      font-family: $proxima-extb;
      padding-bottom: 10px;
      font-size: $f20;
      &:hover {
        color: $color-1;
      }
    }
    a {
    color: $color-1;
    font-size: $f18;
      display: block;
    &:hover {
      text-decoration: none;
      color: $bg-color-3;
    }
  }
  }
}
}
.footer-subscribe {
  text-align: center;
}
.footer-social {
  padding: 20px;
  a {
    color: $color-4;
    font-size: $f24;
    padding: 10px;
    &:hover {
      color: $bg-color-5;
    }
  }

}