header {
  position: fixed;
  width: 100%;
  top: 0;
  border-bottom: 1px solid #E8E8E8;
  background-color: $bg-color-1;
  z-index: $z-index;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: transparent;
}

.logo {
  a {
    width: 110px;
    display: block;
    margin: 19px auto;
  }
}

#top-menu {
  padding-left: 0px;
  padding-right: 0px;
  ul {
    padding-left: 0px;
    list-style: none;
  }

  a {
    @extend %nav-a;
    padding: 10px 15px;
    margin: 10px 5px;
    &:hover, &:focus {
      background-color: transparent;
      color: $bg-color-3;
    }
  }
  .dropdown-toggle {
    display: block;
    position: relative;
    &:after {
      content: '';
      background-image: url("../img/chevron-down.svg");
      width: 7px;
      height: 4px;
      position: absolute;
      top: 48%;
      right: 0;
    }
  }
}

#cat-menu {
  padding-left: 0px;
  padding-right: 0px;
  ul {
    list-style: none;
    padding-left: 0px;
  }
  a {
    @extend %nav-a;
    margin: 18px 7px;
    padding: 10px 0 8px 25px;
    display: block;
    &:hover, &:focus {
      background-color: transparent;
      color: $bg-color-3;
    }
  }
  .dropdown-toggle {
    display: block;
    position: relative;
    &:after {
      content: '';
      background-image: url("../img/chevron-down.svg");
      width: 7px;
      height: 4px;
      position: absolute;
      top: 48%;
      right: 0;
    }
  }
}

#cat-menu li {
  list-style: none;
  &:nth-child(1) a {
    padding: 10px 15px;
  }
}

.header-top-extra {
  width: $nav-width/4;
  float: left;
  background-color: $bg-color-1;
  .count {
    display: none !important;
  }
  a {
    text-transform: uppercase;
    display: block;
    width: 100%;
    color: $color-1;
    background-color: $bg-color-1;
    text-align: center;
    line-height: 59px;
    border-left: 1px solid #E8E8E8;
    border-bottom: 1px solid #E8E8E8;
    cursor: pointer;
    &:hover {
      text-decoration: none;
      background-color: $bg-color-3;
      color: $bg-color-1;
      border-left: 1px solid $bg-color-2;
    }

  }
}

.header-search {
  position: relative;
  &:hover .header-search-button {
    background-image: url("../img/search_active.svg");
    @extend %transition;
  }
  &:hover input {
    border: 1px solid $bg-color-3;
    @extend %transition;
  }
  input {
    position: absolute;
    width: 87%;
    right: 30px;
    background-color: $bg-color-2;
    line-height: 50px;
    border: 1px solid $color-2;
    font-size: $f18;
    padding: 0 50px 0 20px;
    top: 12px;
    @include border-radius(27px);
    &:hover, &:focus {
      outline: none;
      border: 1px solid $bg-color-3;

      .header-search-button {
        background-image: url("../img/search_active.svg");
        @extend %transition;
      }
      &:focus {
        @extend %transition;
        width: 300%;
      }

    }

  }
  button {
    position: absolute;
    right: 30px;
    line-height: 52px;
    background-color: transparent;
    border: none;
    display: block;
    width: 52px;
    top: 12px;
    height: 52px;
    background-image: url("../img/search.svg");
    background-position: center;
    background-repeat: no-repeat;
    &:hover, &:focus {
      outline: none;
    }
  }

}

.carne, .uova, .pesce, .formaggi, .pasta, .frutta, .dolce {
  background-position: center left;
  background-repeat: no-repeat;

}
.header-top-extra-cart-full {
  a {
    color: $bg-color-3;
  }
}
.xoo-wsc-header {
  .header-cart-title {
    font-family: $proxima-extb;
    font-size: $f24;
  }
}
.xoo-wsc-header {
  .header-cart-quantity {
    .cart-contents {
      color: $color-1;
      font-size: $proxima-sb;
      font-size: $f24;
      &:hover {
        text-decoration: none;
      }
      .amount {
        display: none;
      }
    }
  }
}

//.carne {
//  background-image: url("../img/meat.svg");
//  background-size: 19px;
//  &:hover, &:active {
//    background-image: url("../img/meat_active.svg");
//  }
//}
//.uova {
//  background-image: url("../img/egg.svg");
//  background-size: 23px;
//  &:hover, &:active {
//    background-image: url("../img/egg_active.svg");
//  }
//}
//.pesce {
//  background-image: url("../img/fish.svg");
//  background-size: 19px;
//  &:hover, &:active {
//    background-image: url("../img/fish_active.svg");
//  }
//}
//.formaggi {
//  background-image: url("../img/lato.svg");
//  background-size: 16px;
//  &:hover, &:active {
//    background-image: url("../img/lato_active.svg");
//  }
//}
//.pasta {
//  background-image: url("../img/pasta.svg");
//  background-size: 19px;
//  &:hover, &:active {
//    background-image: url("../img/pasta_active.svg");
//  }
//}
//.frutta {
//  background-image: url("../img/fruit.svg");
//  background-size: 19px;
//  &:hover, &:active {
//    background-image: url("../img/fruit_active.svg");
//  }
//}
//.dolce {
//  background-image: url("../img/hot-pie.svg");
//  background-size: 19px;
//  &:hover, &:active {
//    background-image: url("../img/hot-pie_active.svg");
//  }
//}