/* common styles */
$black: #000000;
$lightGray: #e8e8e8;
$bodyGray: #F8F8F8;
$gray: #cdcdcd;
$white: #ffffff;
$yellow: #ffcc00;
$orange: #FF5A00;
$lightOpacityOrange: rgba(255, 90, 0, 0.39);
$darkOpacityOrange: rgba(255, 82, 0, 0.25);
$darkFullOrange: rgb(255, 61, 0);
$red: red;
$green: #6db52d;

$proxima-extb: 'Proxima-xtrb';
$f26: 26px;

%h3 {
  font-family: $proxima-extb;
  font-size: $f26;
}

.site-h3 {
  @extend %h3;
}

.grid-1-5 {
  width: 20%;
  padding: 0 15px;
  float: left;
}

div:after, header:after, aside:after, ul:after {
  content: '';
  display: block;
  clear: both;
  float: none;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.v-margin {
  margin: 30px 0;
}

.b-margin {
  margin-bottom: 30px;
}

.t-margin {
  margin-top: 30px;
}

.v-padding {
  padding: 30px 0;
}

.small-v-padding {
  padding: 10px 0;
}

.small-v-margin {
  margin: 10px 0;
}

.row .col {
  border: 1px solid #000;
}

.fl-left {
  text-align: left;
  float: left;
  display: inherit;
}

.fl-right {
  text-align: right;
  display: inherit;
}

.no-float {
  float: none;
  margin: 0 auto;
}

.inline-element {
  display: inline-block;
}

.text-bold {
  font-weight: bold;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-innercase {
  text-transform: inherit;
}

.highlighted-text {
  color: $orange;
}

.left-float {
  float: left;
}

.right-float {
  float: right;
}

.relative {
  position: relative;
}

.chevron::before {
  border-style: solid;
  border-width: 2px 2px 0 0;
  content: '';
  display: inline-block;
  height: 0.45em;
  left: 0.15em;
  position: relative;
  top: 0.15em;
  transform: rotate(-45deg);
  vertical-align: top;
  width: 0.45em;
}

.chevron.bottom:before {
  top: 0;
  transform: rotate(135deg);
}

img {
  width: 100%;
}

label:focus, label:active, label:hover {
  color: $orange;
}

.breadcrumb {
  background-color: transparent;
  font-size: 18px;
  color: $black;
  font-weight: bold;
  outline: none;
}

.breadcrumb:hover, .breadcrumb:focus {
  background-color: transparent;
  color: $orange;
  font-weight: bold;
  outline: none;
  text-decoration: none;
}

.breadcrumb-separator {
  font-size: 18px;
  color: $black;
}

/* end common styles */

/* BUTTONS */

/*---------------- Animation ----------------*/

.buzz-out:hover {
  -webkit-animation-name: hvr-buzz-out;
  -moz-animation-name: hvr-buzz-out;
  -o-animation-name: hvr-buzz-out;
  animation-name: hvr-buzz-out;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;

}

.fadein-left {
  -webkit-animation-name: fadeInLeft;
  -moz-animation-name: fadeInLeft;
  -o-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}

.fadein-right {
  -webkit-animation-name: fadeInRight;
  -moz-animation-name: fadeInRight;
  -o-animation-name: fadeInRight;
  animation-name: fadeInRight;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}

.fadein-up {
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -o-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}

.fadein-down {
  -webkit-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -o-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}

/* Button shadow */
@-webkit-keyframes r21 {
  from {
    box-shadow: 0 0 8px 6px $lightOpacityOrange, 0 0 12px 14px $lightOpacityOrange;
  }
  to {
    box-shadow: 0 0 13px 6px rgba(255, 48, 26, 0), 0 0 4px 11px rgba(255, 48, 26, 0);
  }
}

@-moz-keyframes r21 {
  from {
    box-shadow: 0 0 8px 6px $lightOpacityOrange, 0 0 12px 14px $lightOpacityOrange;
  }
  to {
    box-shadow: 0 0 13px 6px rgba(255, 48, 26, 0), 0 0 4px 11px rgba(255, 48, 26, 0);
  }
}

@keyframes r21 {
  from {
    box-shadow: 0 0 4px 3px $lightOpacityOrange, 0 0 8px 10px $lightOpacityOrange;
  }
  to {
    box-shadow: 0 0 7px 3px rgba(255, 48, 26, 0), 0 0 2px 11px rgba(255, 48, 26, 0);
  }
}

.pulse-button:hover {
  -webkit-animation: r21 0.8s 0s ease-out 1;
  -moz-animation: r21 0.8s 0s ease-out 1;
  animation: r21 0.8s 0s ease-out 1;
}

.pulse-button:hover {
  -webkit-animation: r21 0.8s 0s ease-out 1;
  -moz-animation: r21 0.8s 0s ease-out 1;
  animation: r21 0.8s 0s ease-out 1;
}

button {
  text-align: center;
  outline: none;
  -webkit-transition: all 0.5s ease-out 0s;
  -moz-transition: all 0.5s ease-out 0s;
  -o-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
}

button:focus, button:active, button:hover {
  outline: none;
}

button.btn-contact {
  background: $white;
  border: 1px solid $orange;
  color: $black;
  padding: 20px 10px;
  margin: 10px 0;
  border-radius: 3px;
  width: auto;
}

.btn-rounded {
  background: $orange;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  padding: 15px 30px;
  color: $white;
  border: none;
}

button.btn-main {
  width: 170px;
  height: 70px;
  text-align: center;
  background: $white;
  border: 1px solid $orange;
  border-radius: 5px;
  color: $black;
  font-weight: bold;
  //text-transform: uppercase;
  outline: none;
}

button.btn-main:hover {
  background: $orange;
  border: 1px solid $orange;
  color: $white;
  -webkit-box-shadow: 0px 1px 8px 1px rgba(255, 82, 0, 0.25);
  -moz-box-shadow: 0px 1px 8px 1px rgba(255, 82, 0, 0.25);
  box-shadow: 0px 1px 8px 1px rgba(255, 82, 0, 0.25);
  outline: none;
  i.fa.fa-shopping-cart {
    color: $white;
  }
}

button.btn-responsive {
  display: inline-block;
  height: 42px;
  background: transparent;
  padding: 0 27px;
  margin-bottom: 10px;
}

button.btn-common {
  background: $orange;
  border: 1px solid $orange;
  color: $white;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 3px;
}

button.btn-option {
  background: $white;
  border: 1px solid $orange;
  color: $black;
  padding: 10px;
  margin: 10px 0;
  border-radius: 3px;
  width: 100%;
}

.product-add-button {
  margin-top: 15px;
}

/* END BUTTONS */

/* INPUTS */

.product-registration {
  label {
    display: block;
    padding-left: 15px;
  }

  input {
    padding: 12px 20px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    border: 1px solid $gray;
    background: $lightGray;
    outline: none;
    width: 100%;
  }
  textarea {
    padding: 12px 20px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid $gray;
    background: $lightGray;
    outline: none;
    width: 100%;
    resize: none;
  }
}

/* ===== Select Box ===== */
.sel {
  font-size: 15px;
  display: inline-block;
  //margin: 10px 3px 10px 10px;
  border-radius: 30px;
  padding: 8.5px;
  width: 100%;
  border: 1px solid $gray;
  background-color: $lightGray;
  position: relative;
  cursor: pointer;
}

.sel::before {
  position: absolute;
  content: '\f063';
  font-family: 'FontAwesome';
  font-size: 13px;
  color: $orange;
  bottom: 15px;
  right: 10px;
  top: calc(50% - 0.5em);
}

.sel.active::before {
  transform: rotateX(-180deg);
}

.sel__placeholder {
  position: relative;
  display: block;
  font-size: 15px;
  color: $black;
  font-weight: bold;
  padding: 0.2em 0.5em;
  pointer-events: none;
  user-select: none;
  visibility: visible;
}

.sel.active .sel__placeholder {
  visibility: hidden;
}

.sel__placeholder::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.2em 0.5em;
  content: attr(data-placeholder);
  visibility: hidden;
}

.sel.active .sel__placeholder::before {
  visibility: visible;
}

.sel__box {
  position: absolute;
  top: calc(100% + 3px);
  left: -4px;
  display: none;
  list-style-type: none;
  text-align: left;
  font-size: 15px;
  background-color: transparent;
  width: calc(100% + 8px);
  box-sizing: border-box;
}

.sel.active .sel__box {
  display: block;
  animation: fadeInUp 500ms;
}

.sel__box__options {
  border-radius: 30px;
  display: list-item;
  font-size: 15px;
  color: $orange;
  padding: 0.5em 1em;
  user-select: none;
  font-weight: bold;
  background-color: $white;
  border: 1px solid $lightGray;
  color: $orange;
  position: relative;
  z-index: 999;

}

.sel__box__options::after {
  content: '\f00c';
  font-family: FontAwesome;
  font-size: 11px;
  font-weight: normal;
  margin-left: 9px;
  display: none;
}

.sel__box__options.selected::after {
  display: inline;
}

.sel__box__options:hover {
  background-color: $orange;
  color: $white;
}

.rating {
  display: inline-block;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t
  follow these rules. Every browser that supports :checked also supports :not(), so
  it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
  position: absolute;
  top: -9999px;
  clip: rect(0, 0, 0, 0);
}

.rating:not(:checked) > label {
  float: right;
  width: 28px;
  /* padding:0 .1em; */
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 200%;
  /* line-height:1.2; */
  color: #ddd;
}

.rating:not(:checked) > label:before {
  content: '★ ';
}

.rating > input:checked ~ label {
  color: $yellow;

}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: $yellow;

}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: $yellow;

}

.rating > label:active {
  position: relative;
  top: 2px;
  left: 2px;
}

.quantity {
  .minus {
    background: $white;
    color: $gray;
    outline: none;
    border: 1px solid $gray;
    font-size: 16px;
    font-weight: bold;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  .input-text.qty.text {
    background: $white;
    text-align: center;
    border: none;
    outline: none;
    color: $black;
    font-weight: bold;
  }
  .plus {
    background: $white;
    color: $gray;
    outline: none;
    border: 1px solid $gray;
    font-size: 16px;
    font-weight: bold;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  .minus:hover {
    color: $orange;
    outline: none;
    border: 1px solid $orange;
    -webkit-box-shadow: 0px 1px 8px 1px rgba(255, 82, 0, 0.25);
    -moz-box-shadow: 0px 1px 8px 1px rgba(255, 82, 0, 0.25);
    box-shadow: 0px 1px 8px 1px rgba(255, 82, 0, 0.25);
  }
  .plus:hover {
    color: $orange;
    outline: none;
    border: 1px solid $orange;
    -webkit-box-shadow: 0px 1px 8px 1px rgba(255, 82, 0, 0.25);
    -moz-box-shadow: 0px 1px 8px 1px rgba(255, 82, 0, 0.25);
    box-shadow: 0px 1px 8px 1px rgba(255, 82, 0, 0.25);
  }
}

/* END INPUTS */

/* ACCORDEON */

.faq-cat-content {
  .panel {
    //margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    //border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #ddd;
    border-top: none;
    padding: 0 30px 15px 30px;
  }
  .panel-group {
    margin-bottom: 5px;
  }

  a[aria-expanded="true"] {
    h4 {
      color: $orange;
    }
  }
  a:hover, a:focus, a:active {
    text-decoration: none;
    h4 {
      color: $orange;
    }
  }

  .panel-default {
    border-color: $gray;
  }

  .panel-default > .panel-heading {
    color: $black;
    background-color: $white;
    border-color: $gray;
    border-bottom: none;
    padding: 15px 30px;
  }
  h4.panel-title {
    color: $black;
    font-weight: bold;
  }
  .panel.panel-default.panel-faq {
    float: left;
    width: 100%;
    border-bottom: none;
    border-left: none;
    border-right: none;
  }
}

/* END ACCORDERON */

/* SLIDERS */

%transition_all_03s {
  transition: all .3s ease;
}

%backface_visibility_hidden {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.swiper-container {
  width: 80%;
  height: 550px;
  max-height: 560px;
  // display:inline-block;
  // vertical-align:top;
  float: left;
  transition: opacity .6s ease, transform .3s ease;
  &.nav-slider {
    width: 20%;
    padding-right: 5px;
    .swiper-slide {
      cursor: pointer;
      opacity: .4;
      transition: opacity .3s ease;
      &.swiper-slide-active {
        opacity: 1;
      }
      .content {
        width: 100%;
        .title {
          font-size: 20px;
        }
      }
    }
  }
  &:hover {
    .swiper-button-prev,
    .swiper-button-next {
      transform: translateX(0);
      opacity: 1;
      visibility: visible;
    }
  }
  &.loading {
    opacity: 0;
    visibility: hidden;
  }
}

.swiper-wrapper {

}

.swiper-slide {
  overflow: hidden;
  @extend %backface_visibility_hidden;
  .slide-bgimg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
  }
  .entity-img {
    display: none;
  }
  .content {
    position: absolute;
    top: 40%;
    left: 0;
    width: 50%;
    padding-left: 5%;
    color: #fff;
    .title {
      font-size: 2.6em;
      font-weight: bold;
      margin-bottom: 30px;
    }
    .caption {
      display: block;
      font-size: 13px;
      line-height: 1.4;
      transform: translateX(50px);
      opacity: 0;
      transition: opacity .3s ease, transform .7s ease;
      &.show {
        transform: translateX(0);
        opacity: 1;
      }
    }
  }
}

[class^="swiper-button-"] {
  width: 44px;
  opacity: 0;
  visibility: hidden;
  @extend %transition_all_03s;
}

.swiper-button-prev {
  transform: translateX(50px);
}

.swiper-button-next {
  transform: translateX(-50px);
}

/* END SLIDERS */

/* SELLER */
.main-seller-image {
  padding: 135px 80px;
  text-align: center;
}

.seller-products {
  .card-wrap {
    margin-right: 30px;
  }
}

ul.seller-filter {
  padding-left: 5px;
  li {
    padding: 0 15px;
    &.pasta-link {
      background-image: url(../img/pasta-passive.png);
      background-size: 19px;
      background-repeat: no-repeat;
      background-position: 0px 2px;
    }
    &.frutta-link {
      background-image: url(../img/frutta-passive.png);
      background-size: 19px;
      background-repeat: no-repeat;
      background-position: 0px 2px;
    }
    &.bottle-link {
      background-image: url(../img/late-passive.png);
      background-size: 19px;
      background-repeat: no-repeat;
      background-position: 0px 1px;
    }
    &.pasta-link:hover {
      background-image: url(../img/pasta-active.png);
    }
    &.bottle-link:hover {
      background-image: url(../img/late-active.png);
    }
    &.frutta-link:hover {
      background-image: url(../img/frutta-active.png);
    }
  }
}

a.seller-menu {
  padding: 0 15px;
  margin: 0;
  color: $black;
  cursor: pointer;
  &:hover {
    color: $orange;
  }
}

.block-title {
  font-size: 16px;
}

.simple-form {
  margin-top: 30px;
}

/* END SELLER */

/* PRODUCT */
.tab_container {
  margin: 0 auto;
  padding-top: 70px;
  position: relative;
  float: left;
  width: 100%;
  *,
  *:after,
  *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .clearfix:before,
  .clearfix:after {
    content: " ";
    display: table;
  }

  .clearfix:after {
    clear: both;
  }

  input, section {
    clear: both;
    padding-top: 10px;
    display: none;
  }

  label {
    font-weight: 700;
    font-size: 18px;
    display: block;
    float: left;
    width: 30%;
    padding: 25px 10px;
    color: $gray;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    background: $white;
  }

  #tab1:checked ~ #content1,
  #tab2:checked ~ #content2,
  #tab3:checked ~ #content3,
  #tab4:checked ~ #content4,
  #tab5:checked ~ #content5 {
    display: block;
    padding: 20px;
    background: $white;
    color: $gray;
    border-bottom: 2px solid #f0f0f0;
  }

  .tab-content p,
  .tab-content h3 {
    -webkit-animation: fadeInScale 0.7s ease-in-out;
    -moz-animation: fadeInScale 0.7s ease-in-out;
    animation: fadeInScale 0.7s ease-in-out;
  }
  .tab-content h3 {
    text-align: center;
  }

  [id^="tab"]:checked + label, [id^="tab"]:hover + label {
    background: $white;
    box-shadow: inset 0 3px $orange;
    color: $orange;
  }

  [id^="tab"]:checked + label .fa {
    color: $orange;
  }

  label .fa {
    font-size: 1.3em;
    margin: 0 0.4em 0 0;
  }

  /*Media query*/
  @media only screen and (max-width: 930px) {
    label span {
      font-size: 14px;
    }
    label .fa {
      font-size: 14px;
    }
  }

  @media only screen and (max-width: 768px) {
    label span {
      //display: none;
    }

    label .fa {
      font-size: 16px;
    }

    .tab_container {
      width: 98%;
    }
  }

  /*Content Animation*/
  @keyframes fadeInScale {
    0% {
      transform: scale(0.9);
      opacity: 0;
    }

    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
}

.secondary-product-image img {
  float: left;
  width: 100%;
  margin-bottom: 20px;
}

.main-product-image img {
  width: 100%;
}

//.product.product-type-simple{

.single-product div.product {
  content: "";
  display: block;
  table-layout: fixed;
  position: relative;
  .woocommerce-product-gallery.woocommerce-product-gallery--columns-4 .flex-control-thumbs li {
    width: 100%;
    display: inline-block;
  }
}

//}
.label-name {
  font-weight: bold;
  font-size: 16px;
}

.total-price {
  font-size: 20px;
  font-weight: bold;
  color: $orange;
}

//.prefooter-main{
.pointer {
  //width: 200px;
  height: 85px;
  position: relative;
  display: inline-block;
  margin: 10px 25px;
  font-size: 13px;
  text-align: left;
  //border: 1px solid black;

  span {
    position: relative;
    top: 32px;
    left: 53px;
    vertical-align: top;
  }
  i {
    position: absolute;
    top: 34px;
    left: 34px;
  }
}

.pointer {
  &.current {
    background: $orange;
    color: $white;
    &.product-step-1 {
      background-image: url(../img/1-step-icon-active.png);
      background-position: 26px 30px;
      background-repeat: no-repeat;
    }
    &.product-step-2 {
      background-image: url(../img/2-step-icon-active.png);
      background-position: 26px 30px;
      background-repeat: no-repeat;
    }
    &.product-step-3 {
      background-image: url(../img/3-step-icon-active.png);
      background-position: 26px 30px;
      background-repeat: no-repeat;
    }
    &.product-step-4 {
      background-image: url(../img/4-step-icon-active.png);
      background-position: 26px 30px;
      background-repeat: no-repeat;
    }
    &.product-step-5 {
      background-image: url(../img/5-step-icon-active.png);
      background-position: 26px 30px;
      background-repeat: no-repeat;
    }
    &.product-step-6 {
      background-image: url(../img/6-step-icon-active.png);
      background-position: 26px 30px;
      background-repeat: no-repeat;
    }
  }
}

  .pointer.current:before {
    border-left: 20px solid $orange;
    border-top: 42px solid transparent;
    border-bottom: 42px solid transparent;
  }

  .pointer{
    &.passed {
      background: $green;
      color: $white;
      &.product-step-1 {
        background-image: url(../img/1-step-icon-active.png);
        background-position: 26px 30px;
        background-repeat: no-repeat;
      }
      &.product-step-2 {
        background-image: url(../img/2-step-icon-active.png);
        background-position: 26px 30px;
        background-repeat: no-repeat;
      }
      &.product-step-3 {
        background-image: url(../img/3-step-icon-active.png);
        background-position: 26px 30px;
        background-repeat: no-repeat;
      }
      &.product-step-4 {
        background-image: url(../img/4-step-icon-active.png);
        background-position: 26px 30px;
        background-repeat: no-repeat;
      }
      &.product-step-5 {
        background-image: url(../img/5-step-icon-active.png);
        background-position: 26px 30px;
        background-repeat: no-repeat;
        & span{
          left:60px;
        }
      }
      &.product-step-6 {
        background-image: url(../img/6-step-icon-active.png);
        background-position: 26px 30px;
        background-repeat: no-repeat;
        span{
          left:70px;
        }
      }
    }
  }

  .pointer.passed:before {
    border-left: 20px solid $green;
    border-top: 42px solid transparent;
    border-bottom: 42px solid transparent;
    &.product-step-1 {
      display: table;
    }
  }

  .pointer{
    &.not-passed {
      background: $white;
      color: $black;
      &.product-step-1 {
        background-image: url(../img/1-step-icon-passive.png);
        background-position: 26px 30px;
        background-repeat: no-repeat;
      }
      &.product-step-2 {
        background-image: url(../img/2-step-icon-passive.png);
        background-position: 26px 30px;
        background-repeat: no-repeat;
      }
      &.product-step-3 {
        background-image: url(../img/3-step-icon-passive.png);
        background-position: 26px 30px;
        background-repeat: no-repeat;
      }
      &.product-step-4 {
        background-image: url(../img/4-step-icon-passive.png);
        background-position: 26px 30px;
        background-repeat: no-repeat;
      }
      &.product-step-5 {
        background-image: url(../img/5-step-icon-passive.png);
        background-position: 26px 30px;
        background-repeat: no-repeat;
        span{
          left:55px;
        }
      }
      &.product-step-6 {
        background-image: url(../img/6-step-icon-passive.png);
        background-position: 26px 30px;
        background-repeat: no-repeat;
        span{
          left:70px;
        }
      }
    }
  }

  .pointer.not-passed:before {
    border-left: 20px solid $white;
    border-top: 42px solid transparent;
    border-bottom: 42px solid transparent;
  }

  .pointer:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid $bodyGray;
    border-top: 42px solid transparent;
    border-bottom: 42px solid transparent;
  }

  .pointer:before {
    content: "";
    position: absolute;
    right: -20px;
    bottom: 0;
    width: 0;
    height: 0;
  }

  .card-wrap.add-product {
    border: 1px solid $orange;
  }

  .add-product {
    height: 445px;
    color: $orange;
    position: relative;
    text-align: center;
    p {
      position: relative;
      top: 50%
    }
    i {
      position: absolute;
      bottom: 50%;
      right: 45%;
      font-size: 30px;
    }
  }

  //}

  .product-attributes {
    .attribute-picture {
      border: 2px solid green;
      border-radius: 100%;
      /* padding: 20px; */
      width: 50px;
      height: 50px;
      text-align: center;
      position: relative;
      top: 50%;
      display: inline-block;
      span {
        position: relative;
        top: 15%;
        font-size: 25px;
        font-weight: bold;
      }
    }
    .attribute-title {
      margin-top: 15px;
    }
    i {
      border: 2px solid green;
      border-radius: 100%;
      /* padding: 20px; */
      width: 50px;
      height: 50px;
      text-align: center;
      position: relative;
      top: 50%;
      display: inline-block;
    }
    i:before {
      position: relative;
      top: 25%;
      font-size: 20px;
      font-weight: bold;
    }
  }

  .product-add-picture {

    span.accept {
      i {
        position: absolute;
        color: $green;
        top: 35%;
        left: 30%;
        font-size: 35px;
        width: 45px;
        height: 45px;
        background: $white;
        border-radius: 100%;
        text-align: center;
        font-weight: 100;
      }
      :before {
        position: relative;
        top: 5px;
        font-weight: 100;
      }
    }
    span.decline {
      i {
        position: absolute;
        color: $red;
        top: 35%;
        left: 50%;
        font-size: 35px;
        width: 45px;
        height: 45px;
        background: $white;
        border-radius: 100%;
        text-align: center;
        font-weight: 100;
      }
      :before {
        position: relative;
        top: 5px;
        font-weight: 100;
      }
    }
    .outer-div {
      height: 100vh;
      overflow: hidden;
    }
    .inner-div {
      height: 100%;
      width: 100%;
      background-size: cover;
      background-position: center;
      transition: all 0.5s ease;

    }
    .inner-div:hover {
      transform: scale(1.1);
    }

    .image-wrapp {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
      -webkit-background-size: cover;
      background-size: cover;

    }
    .wrapp {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      display: none;
      background-color: $darkOpacityOrange;
      z-index: 1;
    }
    :hover {
      img {
        transition: all .25s ease-out;
        transform: scale(1.1);
      }

      .wrapp {
        display: block;
      }
    }
  }

  /* END PRODUCT */

  /* SIMILAR ITEMS */

  .item {
    //display: inline-block;
    position: relative;
    background: #fff;

  }

  .owl-prev {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 25%;
    margin-left: -25px;
    display: block !IMPORTANT;
    border: 0px solid black;
    span {
      font-size: 40px;
      color: $orange;
    }
  }

  .owl-next {
    width: 15px;
    height: 100px;
    position: absolute;
    top: 25%;
    right: -25px;
    display: block !IMPORTANT;
    border: 0px solid black;
    span {
      font-size: 40px;
      color: $orange;
    }
  }

  .owl-prev i, .owl-next i {
    transform: scale(1, 6);
    color: $orange;
  }

  .nav a small {
    display: block;
  }

  .nav {
    background: #eee;
  }

  .nav a {
    border-radius: 0px;
  }

  /* END SIMILAR ITEMS */

  /* CART */
  .wc-proceed-to-checkout {
    text-align: center;
    .checkout-button {
      color: $white;
      padding: 15px 40px;
      display: inline-block;
      background: $orange;
      border-radius: 30px;
      text-transform: uppercase;
    }
  }

  .bordered-section {
    border-top: 1px solid $gray;
    border-bottom: 1px solid $gray;
    display: inline-block;
    width: 100%;
    padding: 15px 0;
    text-align: center;
  }

  .card-wrap-parts {
    background-color: #fff;
    border: 1px solid #E8E8E8;
    overflow: hidden;
    padding: 20px 0;
    &:last-child {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;

    }
    &:first-child {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
  }

  .place-link {
    display: block;
    padding: 10px 25px;
    background: url(../img/icon-place.png) no-repeat 0px 7px;
    color: $black;
    &:hover {
      color: $orange;
    }
  }

  .card-wrap {
    position: relative;
    i.fa.fa-shopping-cart {
      margin-right: 15px;
      font-size: 18px;
      font-weight: bold;
      color: $orange;
    }
    p.stars a {
      position: relative;
      height: 22px;
      width: 22px;
      text-indent: -999em;
      display: inline-block;
      text-decoration: none;
    }
    p.stars:hover a:before {
      color: $yellow;
    }
    .coupon {
      position: relative;
      .coupon-placeholder {
        color: $black;
        padding: 15px;
        width: 100%;
      }
      button.coupon-button {
        color: $orange;
        background: transparent;
        text-transform: unset;
        position: absolute;
        top: 16px;
        right: 15px;
        border: none;
        padding: 0;
        width: inherit;
        height: inherit;
        display: block;
        outline: none;
      }
      .coupon-button:hover {
        background: transparent;
        border: none;
        color: $darkFullOrange;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        text-decoration: underline;
      }

    }

    .cart_item:nth-child(odd) {
      //margin-right: 30px;
    }

    .woocommerce-cart-form__cart-item .cart_item {
      overflow: hidden;
      border: 1px solid $lightGray;
      padding-left: 0;
      .product-thumbnail {
        position: relative;
        overflow: hidden;
        z-index: 1;
        img {
          border-radius: 10px 200px 200px 10px;
          -moz-border-radius: 10px 200px 200px 10px;
          -webkit-border-radius: 10px 200px 200px 10px;
          margin-left: -210px;
          overflow: hidden;
        }
      }
      .product-remove {
        position: absolute;
        right: 20px;
        top: 20px;
        z-index: 9;
        a {
          color: $lightGray;
        }
        a:hover {
          color: $orange;
        }
      }
      .product-information {
        margin-top: 20px;
        .product-name {
          a {
            color: $black;
            font-weight: bold;
          }
        }
        .product-subtotal {
          font-size: 20px;
          font-weight: bold;
          color: $orange;
        }

      }
    }
  }

  .cart-collaterals {
    .cart_totals {
      h2 {
        font-weight: bold;
      }
    }
  }

  /* END CART */

  /* CATALOGS */
  .item-image {
    img {
      width: 100%;
    }
  }

  .catalog-image {
    text-align: center;
    padding: 0 40px;
  }

  .catalog-title {
    font-size: 18px;
  }

  /* END CATALOGS */

  .product-view-all-link {
    position: absolute;
    top: 25px;
    right: 15px;
    font-size: 18px;
    color: $orange;
    font-weight: bold;
    &:hover {
      color: $orange;
    }
  }
