$nav-width: 100%;
$proxima-r :  'Proxima-rglr';
$proxima-extb : 'Proxima-xtrb';
$proxima-sb : 'Proxima-smbld';
$color-1 : #2b2c35;
$color-2 : #EAEAEA;
$color-3 : #E8E8E8;
$color-4 : #cdcdcd;
$bg-color-1 : #fff;
$bg-color-2 : #F8F8F8;
$bg-color-3 : #FF6D00;
$bg-color-4 : #FF5A00;
$bg-color-5 : #2B2C35;
$f18 : 18px;
$f20 : 20px;
$f24 : 24px;
$f48 : 48px;
$z-index : 10;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
@mixin box-shadow($type) {
  -webkit-box-shadow: $type;
  -moz-box-shadow: $type;
  -ms-box-shadow: $type;
  box-shadow: $type;
}
@import "fonts";
@import "header";
@import "footer";
%col-grid {
  float: left;
}
%nav-a {
  color: $color-1;
  font-size: $f18;
  text-decoration: none;
}
%transition {
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -ms-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}
%h1 {
  font-family: $proxima-extb;
  font-size: $f48;
}
%h4 {
  font-family: $proxima-extb;
  font-size: $f24;
}
%h5 {
  font-family: $proxima-extb;
  font-size: $f20;
}


body {
  margin: 0;
  font-family: $proxima-r;
  @extend %transition;
  background-color: $bg-color-2;
}
.col-1 {
  width: $nav-width/16;
  @extend %col-grid;
}
.col-2 {
  width: $nav-width/16*2;
  @extend %col-grid;
}
.col-3 {
  width: $nav-width/16*3;
  @extend %col-grid;
}
.col-4 {
  width: $nav-width/16*4;
  @extend %col-grid;
}
.col-5 {
  width: $nav-width/16*5;
  @extend %col-grid;
}
.col-6 {
  width: $nav-width/16*6;
  @extend %col-grid;
}
.col-7 {
  width: $nav-width/16*7;
  @extend %col-grid;
}
.col-8 {
  width: $nav-width/16*8;
  @extend %col-grid;
}
.col-9 {
  width: $nav-width/16*9;
  @extend %col-grid;
}
.col-10 {
  width: $nav-width/16*10;
  @extend %col-grid;
}
.col-11 {
  width: $nav-width/16*11;
  @extend %col-grid;
}
.col-12 {
  width: $nav-width/16*12;
  @extend %col-grid;
}
.col-13 {
  width: $nav-width/16*13;
  @extend %col-grid;
}
.col-14 {
  width: $nav-width/16*14;
  @extend %col-grid;
}
.col-15 {
  width: $nav-width/16*15;
  @extend %col-grid;
}
.col-16 {
  width: $nav-width;
  @extend %col-grid;
}
a {
  @extend %transition;
}
.site-wrap {
  margin-top: 130px;
}
.uppercase {
  text-transform: uppercase;
}
.site-h1 {
  @extend %h1;
}
.homepage-form {
  background-color: $bg-color-1;
  position: relative;
  &:after {
    content: "";
    width: 50vw;
    right: 0;
    height: 100%;
    background-image: url("../img/bg-1.png");
    position: absolute;
    top: 0;
    background-size: cover;
    background-position: center left;
    background-repeat: no-repeat;

  }
}
.card-wrap {
  background-color: $bg-color-1;
  border: 1px solid $color-3;
  //margin: 30px 0;
  overflow: hidden;
  @include border-radius(5px);
  &:hover {
    @include box-shadow(0px 3px 9.5px 0.5px rgba(0, 0, 0, 0.1));

  }
  .bottom-card-p {
    padding: 20px;
  }
  .text-center {
    //padding: 50px 35px;
    //font-size: 18px;
    span {
      min-height: 60px;
      display: block;
    }
    img {
      height: 50px;
      margin-bottom: 25px;
    }
  }
  .card-img-block {
    max-height: 260px;
    overflow: hidden;
    .img-responsive {
      height: 100%;
      object-fit: cover;
      object-position: center;
      width: 100%;
    }
  }
}
.site-h4 {
  @extend %h4;
}
.site-h5 {
  @extend %h5;
}
.orange-button {
  text-transform: uppercase;
  font-family: $proxima-sb;
  color: $bg-color-2;
  display: block;
  background-color: $bg-color-3 ;
  @include border-radius(25px);
  line-height: 55px;
  width: 200px;
  text-align: center;
  margin: 30px 0 15px 0;
  &:hover, &:focus {
    text-decoration: none;
    color: $bg-color-1;
    background-color: $bg-color-4;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 100%;
    max-width: 1400px;
  }
}
